/*RESET*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html{
    font-size: 14px;
}

@font-face {
    font-family: Next-normal-400;
    src: url(./fonts/Porsche\ Next-normal-400-100.ttf);
}

@font-face {
    font-family: Next-normal-600;
    src: url(./fonts/Porsche\ Next-normal-600-100.ttf);
}

@font-face {
    font-family: Next-normal-700;
    src: url(./fonts/Porsche\ Next-normal-700-100.ttf);
}

:root{
    --color-primary:white;
    --color-secondary: black;
    --font-primary: Next-normal-400;
    --font-secondary: Next-normal-600;
    --font-tertiary: Next-normal-700;
}

body {
 background: var(--color-primary);
 color: var(--color-secondary);
 width: 100%;
 height: 100vh;
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 
 font-family: var(--font-primary);
}

button {
 cursor: pointer;
}

/*HEADER*/

.header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(360deg,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 50%);
}

.header__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    gap: 3px;
}

.menu__img{
    width: 12px;
}

.menu__p{
    font-size: 13px;
    color: var(--color-primary);
    text-align: center;
}

.header__img{
    width: 170px;
}

.header__icon{
    width: 17px;
}

/*MAIN*/

.main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

/*HERO*/

.hero{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__video{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 30rem;
}

.hero__img{
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6.5em;
}

.tycan__img{
    width: 70rem;
    position: absolute;
    z-index: 1;
    top: 15.5rem;
}

/*MODELO*/

.modelo{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 12rem;
    gap:40px;
}

.section__menu{
    width: 25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu__a{
    color: var(--color-secondary);
    font-size: 16px;
    text-align: center;
    background: none;
    border: none;
}

.modelo__precio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
}

.nombre{
    font-size: 60px;
    text-align: center;
    font-weight: 400;
}

.electrico{
    height: 2rem;
    width: 4.5rem;
    background: rgba(239, 239, 239, 1);
    text-align: center;
    line-height: 21px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.precio{
    font-size: 16px;
    font-style: var(--font-tertiary);
    font-weight: 700;
    text-align: center;
}

.botones{
    width: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.botones__modelo{
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 3px solid var(--color-secondary);
    text-decoration: none;
    text-align: center;
    color: var(--color-secondary);
    border-radius: 5px;
}

.botones__configurar{
    width: 8rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--color-secondary);
    text-decoration: none;
    text-align: center;
    color: var(--color-secondary);
    border-radius: 5px;
}

.botones__comprar{
    width: 19rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--color-secondary);
    text-decoration: none;
    text-align: center;
    color: var(--color-secondary);
    border-radius: 5px;
}

.botones__modelo:hover{
    background: var(--color-secondary);
    color: var(--color-primary);
}

.botones__configurar:hover{
    background: var(--color-secondary);
    color: var(--color-primary);
}

.botones__comprar:hover{
    background: var(--color-secondary);
    color: var(--color-primary);
}

.modelo__informacion{
    width: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.consumo{
    color: rgb(107, 109, 112);
    text-align: center;
    font-size: 11px;
    line-height: 21px;
    font-weight: 400;
}

.pvp{
    color: rgb(107, 109, 112);
    text-align: center;
    font-size: 11px;
    line-height: 21px;
    font-weight: 400;
}

/*ESTADÍSTICAS*/

.estadisticas{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap: 60px;
    margin-bottom: 60px;
}

.informacion__detalle{
    width: 40rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 50px;
}

.aceleracion{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.h2{
    font-style: var(--font-tertiary);
    font-weight: 400;
    font-size: 55px;
    letter-spacing: 7px;
}

.h2__p{
    font-style: var(--font-tertiary);
    font-weight: 400;
}

.aceleracion__p{
    color: rgb(107, 109, 112);
    text-align: left;
    line-height: 21px;
    font-weight: 400;
}

.estadisticas__img{
    width: 35rem;
}

.potencia{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.potencia__p{
    color: rgb(107, 109, 112);
    text-align: left;
    line-height: 21px;
    font-weight: 400;
}

.potencia__web{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    padding-top: 10px;
}

.detalles{
    color: rgb(107, 109, 112);
    text-align: left;
    line-height: 21px;
    font-weight: 400;
}

.web{
    text-decoration: none;
    color: var(--color-secondary);
}

.velocidad{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.velocidad__p{
    color: rgb(107, 109, 112);
    text-align: left;
    line-height: 21px;
    font-weight: 400;
}

.detalles__tec{
    width: 13.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--color-secondary);
    text-decoration: none;
    text-align: center;
    color: var(--color-secondary);
    border-radius: 5px;
    background-color: var(--color-primary);
}

/*FOOTER*/

.footer{
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    background: var(--color-secondary);
}

.footer__img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
}

.hr{
    color: var(--color-primary);
    width: 80vw;
}

.footer__enlaces{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.enlaces__p{
    color: var(--color-primary);
    font-size: 11px;
    font-weight: 400;
}

.enlaces__a{
    color: var(--color-primary);
    font-size: 11px;
    font-weight: 400;
}

@media (max-width:768px) {

    /*HERO*/

    .hero__video{
        height: 20rem;
    }

    .tycan__img{
        width: 40em;
        top: 13rem;
    }

    /*MODELO*/

    .modelo{
        margin-top: 3rem;
        gap: 20px;
    }

    .modelo__informacion{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    /*ESTADÍSTICAS*/

    .estadisticas{
        gap: 40px;
    }

    .informacion__detalle{
        gap: 30px;
        padding-left: 10px;
    }

    .h2{
        font-size: 2em;
    }

    .aceleracion__p{
        font-size: 0.75em;
    }

    .potencia__p{
        font-size: 0.75em;
    }

    .detalles{
        font-size: 0.75em;
    }

    .web{
        font-size: .75em;
    }

    .velocidad__p{
        font-size: .75em;
    }

    .estadisticas__img{
        width: 25rem;
        padding-right: 15px;
    }

    /*FOOTER*/

    .enlaces__p{
        font-size: .75em;
        text-align: center;
    }

    .enlaces__a{
        text-align: center;
    }
}

@media (max-width: 428px) {

    /*HEADER*/

    .header{
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /*HERO*/

    .hero__video{
        height: 15rem;
    }

    .hero__img{
        width: 20em;
        margin-top: 5em;
    }

    .tycan__img{
        width: 29em;
        top: 9rem;
    }

    /*MODELO*/

    .modelo{
        margin-top: 7rem;
    }

    .botones{
        flex-direction: column;
        width: 100%;
    }

    .botones__modelo{
        width: 19rem;
    }

    .botones__configurar{
        width: 19rem;
    }

    /*MAIN*/

    .main{
        gap: 30px;
    }

    /*ESTADÍSTICAS*/

    .estadisticas{
        flex-direction: column;
    }

    .informacion__detalle{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aceleracion{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .potencia{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .velocidad{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .detalles__tec{
        width: 19rem;
    }

    /*FOOTER*/

    .footer{
        width: 100%;
        gap: 20px;
    }

    .footer__img{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer__enlaces{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}